---
import Card from '../components/Card.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="generator-container">
    <Card client:load />
  </div>
</Layout>

<style>
  .generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(125% 125% at 50% 10%, #0c0c0c 40%, rgb(28, 19, 54) 100%);
  }
</style>
