<section class="password-container">
  <p>Password example</p>
</section>
<style>
  .password-container {
    background-color: #0c0c0c;
    padding: 0 2rem;
    color: #fff;
    border-radius: 6px;
  }
</style>
